.elemento {
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer e Edge */
}

.elemento::-webkit-scrollbar { /* Para WebKit (Chrome, Safari, etc.) */
  display: none; /* Esconde a barra de rolagem */
}